	<header class="header header--page header--fixed">	
		<div class="header__inner">	
			<div class="header__icon header__icon--menu open-panel" data-panel="left" data-arrow="right"><span></span><span></span><span></span><span></span><span></span><span></span></div>
			<div class="header__logo header__logo--text"><a href="#"><strong>Portal</strong> HKBP Perawang</a></div>	
			<div class="header__icon open-panel" data-panel="right" data-arrow="left"><img src="/assets/images/icons/white/user.svg" alt="" title=""></div>
                </div>
	</header>