                <div class="table table--4cols mb-20">
                     <div class="table__row">
                        <div class="table__section table__section--nr table__section--header">No</div>
                        <div class="table__section table__section--header table__section--centered">Ibadah</div>
                        <div class="table__section table__section--header table__section--centered">Jam</div>
                        <div class="table__section table__section--header table__section--centered">Kategori</div>  
                     </div>
                     <div class="table__row">
                        <div class="table__section table__section--nr">1</div>
                        <div class="table__section table__section--centered">PA Remaja</div>
                        <div class="table__section table__section--centered">19.00 WIB</div> 
                        <div class="table__section table__section--centered">Gereja</div> 
                     </div>
                     <div class="table__row">
                        <div class="table__section table__section--nr">2</div>
                        <div class="table__section table__section--centered">PA Naposo</div>
                        <div class="table__section table__section--centered">19.00 WIB</div> 
                        <div class="table__section table__section--centered">LT.2 G. SM</div> 
                     </div>
                     <div class="table__row">
                        <p><i>NB: PA Remaja & Naposo ditiadakan mulai bulan Sep-Des diganti dengan latihan natal</i></p>
                     </div>
                </div>