		        	<table class="table table-borderless text-center rounded-0 shadow-l" style="overflow: hidden;">
		                    <thead>
		                        <tr class="bg-blue-dark">
		                            <th scope="col" class="color-white">No</th>
		                            <th scope="col" class="color-white">Ibadah</th>
		                            <th scope="col" class="color-white">Jam</th>
		                            <th scope="col" class="color-white">Tempat</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        <tr>
		                            <th scope="row">1</th>
		                            <td>Shift I</td>
		                            <td>07.00 WIB</td>
		                            <td>Gereja</td>
		                        </tr>
		                        <tr>
		                            <th scope="row">2</th>
		                            <td>Sekolah Minggu</td>
		                            <td>07.00 WIB</td>
		                            <td>Gedung SM</td>
		                        </tr>
		                        <tr>
		                            <th scope="row">3</th>
		                            <td>Shift II</td>
		                            <td>09.00 WIB</td>
		                            <td>Gereja</td>
		                        </tr>
		                        <tr>
		                            <th scope="row">4</th>
		                            <td>Shift III</td>
		                            <td>11.00 WIB</td>
		                            <td>Gereja</td>
		                        </tr>
		                        <tr>
		                            <th scope="row">5</th>
		                            <td>Shift IV</td>
		                            <td>07.00 WIB</td>
		                            <td>Khusus Remaja</td>
		                        </tr>
		                        <tr>
		                            <th scope="row">6</th>
		                            <td>Shift V</td>
		                            <td>19.30 WIB</td>
		                            <td>Gereja</td>
		                        </tr>
		                    </tbody>
		                </table>