		        	<table class="table table-borderless text-center rounded-0 shadow-l" style="overflow: hidden;">
		                    <thead>
		                        <tr class="bg-blue-dark">
		                            <th scope="col" class="color-white">No</th>
		                            <th scope="col" class="color-white">Ibadah</th>
		                            <th scope="col" class="color-white">Jam</th>
		                            <th scope="col" class="color-white">Tempat</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        <tr>
		                            <th scope="row">1</th>
		                            <td>PA Remaja</td>
		                            <td>19.00 WIB</td>
		                            <td>Gereja</td>
		                        </tr>
		                        <tr>
		                            <th scope="row">2</th>
		                            <td>PA Naposo</td>
		                            <td>19.00 WIB</td>
		                            <td>LT. 2 Gedung SM</td>
		                        </tr>
		                    </tbody>
		                </table>