                <div class="table table--4cols mb-20">
                     <div class="table__row">
                        <div class="table__section table__section--nr table__section--header">No</div>
                        <div class="table__section table__section--header table__section--centered">Ibadah</div>
                        <div class="table__section table__section--header table__section--centered">Jam</div>
                        <div class="table__section table__section--header table__section--centered">Kategori</div>  
                     </div>
                     <div class="table__row">
                        <div class="table__section table__section--nr">1</div>
                        <div class="table__section table__section--centered">Shift I</div>
                        <div class="table__section table__section--centered">07.00 WIB</div> 
                        <div class="table__section table__section--centered">Umum</div> 
                     </div>
                     <div class="table__row">
                        <div class="table__section table__section--nr">2</div>
                        <div class="table__section table__section--centered">Shift II</div>
                        <div class="table__section table__section--centered">09.00 WIB</div> 
                        <div class="table__section table__section--centered">Umum</div> 
                     </div>
                     <div class="table__row">
                        <div class="table__section table__section--nr">3</div>
                        <div class="table__section table__section--centered"><strong>SM</strong></div>
                        <div class="table__section table__section--centered">07.00 WIB</div> 
                        <div class="table__section table__section--centered">SM</div> 
                     </div>
                     <div class="table__row">
                        <div class="table__section table__section--nr">4</div>
                        <div class="table__section table__section--centered">Shift III</div>
                        <div class="table__section table__section--centered">11.00 WIB</div> 
                        <div class="table__section table__section--centered">Umum</div> 
                     </div>
                     <div class="table__row">
                        <div class="table__section table__section--nr">5</div>
                        <div class="table__section table__section--centered">Shift IV</div>
                        <div class="table__section table__section--centered">17.00 WIB</div> 
                        <div class="table__section table__section--centered">Umum</div> 
                     </div>
                     <div class="table__row">
                        <div class="table__section table__section--nr">6</div>
                        <div class="table__section table__section--centered">Shift V</div>
                        <div class="table__section table__section--centered">19.30 WIB</div> 
                        <div class="table__section table__section--centered">Umum</div> 
                     </div>
                     <div class="table__row">
                        <p><i>SM = Sekolah Minggu</i></p>
                     </div>
                </div>