		<div class="toggle mb-20">
			<div class="toggle__item">
			  <input class="toggle__input" id="togg1" type="checkbox" name="toggle">
			  <label class="toggle__label" for="togg1">Ibadah Umum <span></span></label>
				  <div class="toggle__content">
					{% include ibadah-umum.html %}
				  </div>
			</div>
			<div class="toggle__item">
			  <input class="toggle__input" id="togg2" type="checkbox" name="toggle">
			  <label class="toggle__label" for="togg2">Ibadah PA Remaja & Naposo <span></span></label>
				  <div class="toggle__content">
					{% include ibadah-pa.html %}
				  </div>
			</div>
		</div>