<div id="panel-left"><div class="panel panel--left">
                  <!-- Slider -->
                 <div class="panel__navigation swiper-container-initialized swiper-container-horizontal">
                    <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
			<div class="swiper-slide swiper-slide-active" style="width: 715px;">
				<div class="user-details">
					<div class="user-details__thumb"><img src="../assets/images/photos/avatar.png" alt="" title=""></div>
					<div class="user-details__title"><span>Horas!</span> HKBP Perawang</div>
				</div>
				<nav class="main-nav">
					<ul>
						<li><a href="main.html"><img src="/assets/images/icons/gray/home.svg" alt="" title=""><span>Home</span></a></li>
						<li><a href="main.html"><img src="/assets/images/icons/gray/checked.svg" alt="" title=""><span>Features</span></a></li>
						<li><a href="blog.html"><img src="/assets/images/icons/gray/news.svg" alt="" title=""><span>News</span></a></li>	
						<li><a href="shop.html"><img src="/assets/images/icons/gray/cart.svg" alt="" title=""><span>Shop</span></a></li>
						<li><a href="photos.html"><img src="/assets/images/icons/gray/photos.svg" alt="" title=""><span>Photos</span></a></li>
						<li><a href="videos.html"><img src="/assets/images/icons/gray/video.svg" alt="" title=""><span>Videos</span></a></li>
						<li><a href="chat.html"><img src="/assets/images/icons/gray/chat.svg" alt="" title=""><span>Chat</span><strong>3</strong></a></li>
						<li><a href="tabs-toggles.html"><img src="/assets/images/icons/gray/tabs.svg" alt="" title=""><span>Tabs &amp; Toggles</span></a></li>
						<li><a href="forms.html"><img src="/assets/images/icons/gray/form.svg" alt="" title=""><span>Forms</span></a></li>
						<li><a href="tables.html"><img src="/assets/images/icons/gray/tables.svg" alt="" title=""><span>Tables</span></a></li>
						<li><a href="contact.html"><img src="/assets/images/icons/gray/contact.svg" alt="" title=""><span>Contact</span></a></li>
						<li><a href="splash.html"><img src="../assets/images/icons/gray/user.svg" alt="" title=""><span>User login</span></a></li>
					</ul>
				</nav>
			</div>	
		    </div>
		<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</div></div>