<div id="menu-sidebar-left-3" class="menu menu-box-left menu-box-detached menu-sidebar" data-menu-width="310">
		<div class="sidebar-content">
			<div class="card card-style bg-18-1 my-3" data-card-height="150">
				<div class="card-bottom m-3 lh-base">
					<h1 class="mb-n1 color-white">HKBP Perawang<i class="fa fa-check-circle color-blue-dark font-13 ps-2"></i></h1>
					<p class="color-white mb-0 opacity-50 mt-2">Jl. Gajah Tunggal, Gg. Empat Suku, Km. 4 Tualang Perawang, Siak-Riau. 28772</p>
				</div>
				<div class="card-top m-2">
					<a href="#" class="icon icon-xxs gradient-red rounded-sm float-end close-menu"><i class="fa fa-times color-white"></i></a>
				</div>
				<div class="card-overlay bg-gradient"></div>
				<div class="card-overlay bg-black opacity-10"></div>
			</div>

			<div class="card card-style">
				<div class="content my-0">
					<h5 class="font-700 text-uppercase opacity-40 font-12 pt-2 mb-0">Navigation</h5>
					<div class="list-group list-custom-small list-icon-0">
						<a href="/">
							<i class="fa font-12 fa-home gradient-green rounded-sm color-white"></i>
							<span>Homepage</span>
							<i class="fa fa-angle-right"></i>
						</a>
						<a href="#">
							<i class="fa font-12 fa-cog gradient-red rounded-sm color-white"></i>
							<span>Components</span>
							<span class="badge bg-highlight">NEW</span>
							<i class="fa fa-angle-right"></i>
						</a>
						<a href="#">
							<i class="fa font-12 fa-file gradient-blue rounded-sm color-white"></i>
							<span>Page Packs</span>
							<i class="fa fa-angle-right"></i>
						</a>
						<a href="/team.html">
							<i class="fa font-12 fa-users gradient-yellow rounded-sm color-white"></i>
							<span>Tim Digital</span>
							<i class="fa fa-angle-right"></i>
						</a>
						<a href="contact.html">
							<i class="fa font-12 fa-image gradient-teal rounded-sm color-white"></i>
							<span>Kontak</span>
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="card card-style">
				<div class="content my-0">
					<h5 class="font-700 text-uppercase opacity-40 font-12 pt-2 mb-0">Social Media</h5>
					<div class="list-group list-custom-small list-icon-0">
						<a href="#">
							<i class="fab font-14 fa-facebook-f color-facebook"></i>
							<span>Facebook</span>
							<i class="fa fa-link"></i>
						</a>
						<a href="#">
							<i class="fab font-14 fa-youtube color-youtube"></i>
							<span>Youtube</span>
							<i class="fa fa-link"></i>
						</a>
						<a href="#" class="border-0">
							<i class="fab font-14 fa-instagram color-instagram"></i>
							<span>Instagram</span>
							<i class="fa fa-link"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="card card-style mb-3">
				<div class="content my-0">
					<h5 class="font-700 text-uppercase opacity-40 font-12 pt-2 mb-0">Settings</h5>
					<div class="list-group list-custom-small list-icon-0">
						<a href="#" data-toggle-theme data-trigger-switch="switch-dark2-mode" class="border-0">
							<i class="fa font-12 fa-moon gradient-mint color-white rounded-sm"></i>
							<span>Dark Mode</span>
							<div class="custom-control ios-switch">
								<input data-toggle-theme type="checkbox" class="ios-input" id="switch-dark2-mode">
								<label class="custom-control-label" for="switch-dark2-mode"></label>
							</div>
							<i class="fa fa-angle-right"></i>
						</a>
						<a href="#" data-menu="menu-highlights">
							<i class="fa font-12 fa-droplet gradient-blue rounded-sm color-white"></i>
							<span>Highlights</span>
							<i class="fa fa-angle-right"></i>
						</a>
						<a href="#" data-menu="menu-backgrounds">
							<i class="fa font-12 fa-paint-brush gradient-orange rounded-sm color-white"></i>
							<span>Backgrounds</span>
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>