<div class="card">
				  <div class="card__icon"><img src="/assets/images/icons/blue/news.svg" alt="" title=""></div>
				  <div class="card__details">
					  <h4 class="card__title">Code &amp; Web development</h4>
				  </div>
				  <div class="card__more"><a class="button button--blue button--ex-small" href="main.html">MORE</a></div>
			  </div>
			  <div class="card">
				  <div class="card__icon"><img src="/assets/images/icons/blue/photos.svg" alt="" title=""></div>
				  <div class="card__details">
					  <h4 class="card__title">Layout Design and Branding</h4>
				  </div>
				   <div class="card__more"><a class="button button--blue button--ex-small" href="main.html">MORE</a></div>
			  </div>
			  <div class="card">
				  <div class="card__icon"><img src="/assets/images/icons/blue/code.svg" alt="" title=""></div>
				  <div class="card__details">
					  <h4 class="card__title">Backend Programming</h4>
				  </div>
				   <div class="card__more"><a class="button button--blue button--ex-small" href="main.html">MORE</a></div>
			  </div>
			  <div class="card">
				  <div class="card__icon"><img src="/assets/images/icons/blue/blocks.svg" alt="" title=""></div>
				  <div class="card__details">
					  <h4 class="card__title">UI/UX Design &amp; User Flow</h4>
				  </div>
				   <div class="card__more"><a class="button button--blue button--ex-small" href="main.html">MORE</a></div>
			  </div>