		<div class="card">
			<div class="card__icon"><img src="/assets/images/icons/blue/news.svg" alt="" title=""></div>
			<div class="card__details">
				<h4 class="card__title">Warta Jemaat</h4>
			</div>
			<div class="card__more"><a class="button button--blue button--ex-small" href="https://www.hkbpperawang.org/warta-acara/" target="_blank">MORE</a></div>
		</div>
		<div class="card">
			<div class="card__icon"><img src="/assets/images/icons/blue/photos.svg" alt="" title=""></div>
			<div class="card__details">
				<h4 class="card__title">Youtube</h4>
			</div>
			<div class="card__more"><a class="button button--blue button--ex-small" href="https://www.youtube.com/@HKBPPerawang" target="_blank">MORE</a></div>
		</div>
		<div class="card">
			<div class="card__icon"><img src="/assets/images/icons/blue/code.svg" alt="" title=""></div>
			<div class="card__details">
				<h4 class="card__title">Backend Programming</h4>
			</div>
			<div class="card__more"><a class="button button--blue button--ex-small" href="main.html" target="_blank">MORE</a></div>
		</div>
		<div class="card">
			<div class="card__icon"><img src="/assets/images/icons/blue/blocks.svg" alt="" title=""></div>
			<div class="card__details">
				<h4 class="card__title">Fungsionaris</h4>
			</div>
		<div class="card__more"><a class="button button--blue button--ex-small" href="https://www.hkbpperawang.org/fungsionaris/" target="_blank">MORE</a></div>
		</div>