            <a href="https://www.hkbpperawang.org/" class="col-6 pe-0">
                <div class="card card-style me-2 mb-2">
                    <i class="fa-solid fa-globe-pointer color-green-dark fa-3x mt-5"></i>
                    <h1 class="pt-4">Situs Web</h1>
                    <p class="font-11 opacity-80 mt-n1">Situs Web Resmi</p>
                    <p class="mb-0 pb-0 font-10 opacity-60">Klik untuk melihat</p>
                </div>
            </a>
            <a href="https://www.hkbpperawang.org/warta-acara/" class="col-6 ps-0">
                <div class="card card-style ms-2 mb-3">
                    <i class="fa-solid fa-book-open-cover color-blue-dark fa-3x mt-5"></i>
                    <h1 class="pt-4">Warta Acara</h1>
                    <p class="font-11 opacity-80 mt-n1">Warta Jemaat & Acara</p>
                    <p class="mb-0 pb-0 font-10 opacity-60">Klik untuk melihat</p>
                </div>
            </a>
            <a href="https://www.hkbpperawang.org/tentang-kami/fungsionaris" class="col-6 pe-0">
                <div class="card card-style me-2 mb-2">
                    <i class="fa-regular fa-users color-magenta-dark fa-3x mt-5"></i>
                    <h1 class="pt-4">Fungsionaris</h1>
                    <p class="font-11 opacity-80 mt-n1">Informasi struktur organisasi</p>
                    <p class="mb-0 pb-0 font-10 opacity-60">Klik untuk melihat</p>
                </div>
            </a>
            <a href="https://www.hkbpperawang.org/tentang-kami/" class="col-6 ps-0">
                <div class="card card-style ms-2 mb-3">
                    <i class="fa-regular fa-users-gear color-brown-dark fa-3x mt-5"></i>
                    <h1 class="pt-4">Huria</h1>
                    <p class="font-11 opacity-80 mt-n1">Informasi Statistik Huria</p>
                    <p class="mb-0 pb-0 font-10 opacity-60">Klik untuk melihat</p>
                </div>
            </a>