<div id="menu-share" class="menu menu-box-bottom rounded-m menu-active" data-menu-load="menu-share.html" data-menu-height="370" style="display: block; height: 370px;">        <div class="menu-title">
            <p class="color-highlight">Tap a link to</p>
            <h1>Share</h1>
            <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
        </div>
        <div class="divider divider-margins mt-3 mb-0"></div>
        <div class="content mt-0">
            <div class="list-group list-custom-small list-icon-0">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.enableds.com/products/appkit/v25/index.html" class="external-link shareToFacebook" target="_blank">
                    <i class="fab fa-facebook-f font-12 bg-facebook color-white shadow-l rounded-s"></i>
                    <span>Facebook</span>
                    <i class="fa fa-angle-right pr-1"></i>
                </a>
                <a href="http://twitter.com/share?text=AppKit BootStrap%20https://www.enableds.com/products/appkit/v25/index.html" class="external-link shareToTwitter" target="_blank">
                    <i class="fab fa-twitter font-12 bg-twitter color-white shadow-l rounded-s"></i>
                    <span>Twitter</span>
                    <i class="fa fa-angle-right pr-1"></i>
                </a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.enableds.com/products/appkit/v25/index.html&amp;title=AppKit BootStrap&amp;summary=&amp;source=" class="external-link shareToLinkedIn" target="_blank">
                    <i class="fab fa-linkedin-in font-12 bg-linkedin color-white shadow-l rounded-s"></i>
                    <span>LinkedIn</span>
                    <i class="fa fa-angle-right pr-1"></i>
                </a>
                <a href="whatsapp://send?text=https://www.enableds.com/products/appkit/v25/index.html" class="external-link shareToWhatsApp" target="_blank">
                    <i class="fab fa-whatsapp font-12 bg-whatsapp color-white shadow-l rounded-s"></i>
                    <span>WhatsApp</span>
                    <i class="fa fa-angle-right pr-1"></i>
                </a>
                <a href="mailto:?body=https://www.enableds.com/products/appkit/v25/index.html" class="external-link shareToMail border-0" target="_blank">
                    <i class="fa fa-envelope font-12 bg-mail color-white shadow-l rounded-s"></i>
                    <span>Email</span>
                    <i class="fa fa-angle-right pr-1"></i>
                </a>
            </div>
        </div>
</div>