            <a href="https://www.hkbpperawang.org/warta-acara/" class="col-6 pe-0">
                <div class="card card-style me-2 mb-2">
                    <i class="fa fa-globe color-green-dark fa-3x mt-5"></i>
                    <h1 class="pt-4">Situs Web</h1>
                    <p class="font-11 opacity-50 mt-n1">Situs Web Resmi</p>
                    <p class="mb-0 pb-0 font-10 opacity-40">Tap to View</p>
                </div>
            </a>
            <a href="index-components.html" class="col-6 ps-0">
                <div class="card card-style ms-2 mb-3">
                    <i class="fa fa-book-open color-blue-dark fa-3x mt-5"></i>
                    <h1 class="pt-4">Warta Acara</h1>
                    <p class="font-11 opacity-50 mt-n1">Warta Jemaat & Acara</p>
                    <p class="mb-0 pb-0 font-10 opacity-40">Tap to View</p>
                </div>
            </a>
            <a href="https://www.hkbpperawang.org/tentang-kami/fungsionaris" class="col-6 pe-0">
                <div class="card card-style me-2 mb-2">
                    <i class="fa fa-users color-magenta-dark fa-3x mt-5"></i>
                    <h1 class="pt-4">Struktur Organisasi</h1>
                    <p class="font-11 opacity-50 mt-n1">Informasi struktur organisasi</p>
                    <p class="mb-0 pb-0 font-10 opacity-40">Tap to View</p>
                </div>
            </a>
            <a href="component-footers.html" class="col-6 ps-0">
                <div class="card card-style ms-2 mb-3">
                    <i class="fa fa-users-gear color-brown-dark fa-3x mt-5"></i>
                    <h1 class="pt-4">Informasi Huria</h1>
                    <p class="font-11 opacity-50 mt-n1">Statistik Huria</p>
                    <p class="mb-0 pb-0 font-10 opacity-40">Tap to View</p>
                </div>
            </a>