<!-- <div id="menu-share" class="menu menu-box-bottom menu-box-detached">
        <div class="menu-title mt-n1"><h1>Share the Love</h1><p class="color-highlight">Just Tap the Social Icon. We'll add the Link</p><a href="#" class="close-menu"><i class="fa fa-times"></i></a></div>
        <div class="content mb-0">
            <div class="divider mb-0"></div>
            <div class="list-group list-custom-small list-icon-0">
                <a href="auto_generated" class="shareToFacebook external-link">
                    <i class="font-18 fab fa-facebook-square color-facebook"></i>
                    <span class="font-13">Facebook</span>
                    <i class="fa fa-angle-right"></i>
                </a>
                <a href="auto_generated" class="shareToTwitter external-link">
                    <i class="font-18 fab fa-twitter-square color-twitter"></i>
                    <span class="font-13">Twitter</span>
                    <i class="fa fa-angle-right"></i>
                </a>
                <a href="auto_generated" class="shareToLinkedIn external-link">
                    <i class="font-18 fab fa-linkedin color-linkedin"></i>
                    <span class="font-13">LinkedIn</span>
                    <i class="fa fa-angle-right"></i>
                </a>
                <a href="auto_generated" class="shareToWhatsApp external-link">
                    <i class="font-18 fab fa-whatsapp-square color-whatsapp"></i>
                    <span class="font-13">WhatsApp</span>
                    <i class="fa fa-angle-right"></i>
                </a>
                <a href="auto_generated" class="shareToMail external-link border-0">
                    <i class="font-18 fa fa-envelope-square color-mail"></i>
                    <span class="font-13">Email</span>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div> -->

    <div id="menu-share" class="menu menu-box-bottom rounded-m" data-menu-load="menu-share.html" data-menu-height="370" style="display: block; height: 370px;">        <div class="menu-title">
            <p class="color-highlight">Tap a link to</p>
            <h1>Share</h1>
            <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
        </div>
        <div class="divider divider-margins mt-3 mb-0"></div>
        <div class="content mt-0">
            <div class="list-group list-custom-small list-icon-0">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.enableds.com/products/appkit/v25/index.html" class="external-link shareToFacebook" target="_blank">
                    <i class="fab fa-facebook-f font-12 bg-facebook color-white shadow-l rounded-s"></i>
                    <span>Facebook</span>
                    <i class="fa fa-angle-right pr-1"></i>
                </a>
                <a href="http://twitter.com/share?text=AppKit BootStrap%20https://www.enableds.com/products/appkit/v25/index.html" class="external-link shareToTwitter" target="_blank">
                    <i class="fab fa-twitter font-12 bg-twitter color-white shadow-l rounded-s"></i>
                    <span>Twitter</span>
                    <i class="fa fa-angle-right pr-1"></i>
                </a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.enableds.com/products/appkit/v25/index.html&amp;title=AppKit BootStrap&amp;summary=&amp;source=" class="external-link shareToLinkedIn" target="_blank">
                    <i class="fab fa-linkedin-in font-12 bg-linkedin color-white shadow-l rounded-s"></i>
                    <span>LinkedIn</span>
                    <i class="fa fa-angle-right pr-1"></i>
                </a>
                <a href="whatsapp://send?text=https://www.enableds.com/products/appkit/v25/index.html" class="external-link shareToWhatsApp" target="_blank">
                    <i class="fab fa-whatsapp font-12 bg-whatsapp color-white shadow-l rounded-s"></i>
                    <span>WhatsApp</span>
                    <i class="fa fa-angle-right pr-1"></i>
                </a>
                <a href="mailto:?body=https://www.enableds.com/products/appkit/v25/index.html" class="external-link shareToMail border-0" target="_blank">
                    <i class="fa fa-envelope font-12 bg-mail color-white shadow-l rounded-s"></i>
                    <span>Email</span>
                    <i class="fa fa-angle-right pr-1"></i>
                </a>
            </div>
        </div>
</div>