<div class="panel panel--left">
                  <!-- Slider -->
                 <div class="panel__navigation">
                    <div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="user-details">
					<div class="user-details__thumb"><img src="../assets/images/photos/avatar.jpg" alt="" title=""/></div>
					<div class="user-details__title"><span>Hello</span> Patrick Vue</div>
				</div>
				<nav class="main-nav">
					<ul>
						<li class="subnav opensubnav"><img src="../assets/images/icons/gray/home.svg" alt="" title="" /><span>Home Pages</span><i><img src="../assets/images/icons/gray/arrow-right.svg" alt="" title="" /></i></li>
						<li><a href="main.html"><img src="../assets/images/icons/gray/checked.svg" alt="" title="" /><span>Features</span></a></li>
						<li><a href="blog.html"><img src="../assets/images/icons/gray/news.svg" alt="" title="" /><span>News</span></a></li>	
						<li><a href="shop.html"><img src="../assets/images/icons/gray/cart.svg" alt="" title="" /><span>Shop</span></a></li>
						<li><a href="photos.html"><img src="../assets/images/icons/gray/photos.svg" alt="" title="" /><span>Photos</span></a></li>
						<li><a href="videos.html"><img src="../assets/images/icons/gray/video.svg" alt="" title="" /><span>Videos</span></a></li>
						<li><a href="chat.html"><img src="../assets/images/icons/gray/chat.svg" alt="" title="" /><span>Chat</span><strong>3</strong></a></li>
						<li><a href="tabs-toggles.html"><img src="../assets/images/icons/gray/tabs.svg" alt="" title="" /><span>Tabs &amp; Toggles</span></a></li>
						<li><a href="forms.html"><img src="../assets/images/icons/gray/form.svg" alt="" title="" /><span>Forms</span></a></li>
						<li><a href="tables.html"><img src="../assets/images/icons/gray/tables.svg" alt="" title="" /><span>Tables</span></a></li>
						<li><a href="contact.html"><img src="../assets/images/icons/gray/contact.svg" alt="" title="" /><span>Contact</span></a></li>
						<li><a href="splash.html"><img src="../assets/images/icons/gray/user.svg" alt="" title="" /><span>User login</span></a></li>
					</ul>
				</nav>
			</div>	
			<div class="swiper-slide">		
				<div class="subnav-header backtonav"><img src="../assets/images/icons/gray/arrow-left.svg" alt="" title="" /><span>BACK</span></div>
				<nav class="main-nav">
				<ul>
					<li><a href="index.html"><b>01</b><span>Main design</span></a></li>
					<li><a href="index-website.html"><b>02</b><span>Mobile Website</span></a></li>
					<li><a href="index-shop.html"><b>03</b><span>Shop Design</span></a></li>
					<li><a href="index-food.html"><b>04</b><span>Food / Restaurant</span></a></li>
					<li><a href="index-medical.html"><b>05</b><span>Medical Clinic</span></a></li>
					<li><a href="index-beauty.html"><b>06</b><span>Beauty Center</span></a></li>
					<li><a href="index-music.html"><b>07</b><span>Music App</span></a></li>
					<li><a href="index-wedding.html"><b>08</b><span>Wedding Website</span></a></li>
					<li><a href="index-app.html"><b>09</b><span>Classic App</span></a></li>
					<li><a href="index-metro.html"><b>10</b><span>Metro Style</span></a></li>
				</ul>
				</nav>
			</div>
		    </div>
		</div>
</div>