<!-- Right panel -->
		<div class="panel panel--right">
		<div class="user-profile">
			<div class="user-profile__thumb"><img src="/assets/images/fav.png" alt="" title=""></div>
			<div class="user-profile__name">Patrick Vue</div>
			<div class="buttons buttons--centered mb-20">
				<div class="info-box"><span>Followers</span> 25k</div>
				<div class="info-box"><span>Following</span> 9k</div>
				<div class="info-box"><span>Likes</span>1.5k</div>
			</div>
			<div class="buttons buttons--centered">
				<a href="#" class="button button--blue button--ex-small ml-10">FOLLOW</a>
				<a href="#" class="button button--green button--ex-small ml-10">MESSAGE</a>
			</div>
		</div>
		<nav class="main-nav">
			<ul>
				<li><a href="forms.html"><img src="/assets/images/icons/gray/user.svg" alt="" title=""><span>My Account</span></a></li>
				<li><a href="contact.html"><img src="/assets/images/icons/gray/chat.svg" alt="" title=""><span>Messages</span><strong>3</strong></a></li>
				<li><a href="contact.html"><img src="/assets/images/icons/gray/love.svg" alt="" title=""><span>Favourites</span></a></li>
				<li><a href="contact.html"><img src="/assets/images/icons/gray/settings.svg" alt="" title=""><span>Settings</span></a></li>
				<li><a href="index.html"><img src="/assets/images/icons/gray/logout.svg" alt="" title=""><span>Logout</span></a></li>
			</ul>
		</nav>
	</div>