			<div class="posts">
				<div class="post">
					<div class="post__thumb">
						<a href="blog-single.html"><img src="/assets/images/photos/image-1.jpg" alt="" title=""></a>
					</div>
					<div class="post__details">
						<h4 class="post__title"><a href="blog-single.html">Creativity is allowing yourself to make mistakes</a></h4>
						<a href="blog-single.html" class="post__more button button--blue button--ex-small">MORE</a>
					</div>
			  	</div>
				<div class="post">
					<div class="post__thumb">
					  <a href="blog-single.html"><img src="/assets/images/photos/image-2.jpg" alt="" title=""></a>
				  	</div>
					<div class="post__details">
						<h4 class="post__title"><a href="blog-single.html">The true sign of intelligence is not not knowledge</a></h4>
						<a href="blog-single.html" class="post__more button button--blue button--ex-small">MORE</a>
					</div>
			  	</div>
				<div class="post">
					<div class="post__thumb">
						<a href="blog-single.html"><img src="/assets/images/photos/image-3.jpg" alt="" title=""></a>
					</div>
					<div class="post__details">
						<h4 class="post__title"><a href="blog-single.html">The desire to create is one of the deepest yearnings</a></h4>
						<a href="blog-single.html" class="post__more button button--blue button--ex-small">MORE</a>
					</div>
				</div>
				<a href="blog.html" class="button button--green button--full">VIEW ALL NEWS</a>
			</div>