		<!-- SLIDER THUMBS -->
		<div class="swiper-container slider-thumbs slider-init mb-20" data-paginationtype="bullets" data-spacebetweenitems="10" data-itemsperview="auto">
			<div class="swiper-wrapper">				
				
				
				<div class="swiper-slide slider-thumbs__slide slider-thumbs__slide--3">
					<div class="slider-thumbs__image"><a href="#"><img src="/assets/images/photos/image-6.jpg" alt="" title=""/></a></div>
					<div class="slider-thumbs__caption caption">
						<div class="caption__content">
							<h2 class="caption__title"><a href="#">Desire to <strong>create</strong></a></h2>
						</div>
					</div>
				</div> 
				<div class="swiper-slide slider-thumbs__slide slider-thumbs__slide--3">
					<div class="slider-thumbs__image"><a href="#"><img src="/assets/images/photos/image-2.jpg" alt="" title=""/></a></div>
					<div class="slider-thumbs__caption caption">
						<div class="caption__content">
							<h2 class="caption__title"><a href="#">Powerful <strong>creativity</strong></a></h2>
						</div>
					</div>
				</div> 
				<div class="swiper-slide slider-thumbs__slide slider-thumbs__slide--3">
					<div class="slider-thumbs__image"><a href="#"><img src="/assets/images/photos/image-7.jpg" alt="" title=""/></a></div>
					<div class="slider-thumbs__caption caption">
						<div class="caption__content">
							<h2 class="caption__title"><a href="#"><strong>Imagination</strong> is power</a></h2>
						</div>
					</div>
				</div> 
				<div class="swiper-slide slider-thumbs__slide slider-thumbs__slide--3">
					<div class="slider-thumbs__image"><a href="#"><img src="/assets/images/photos/image-1.jpg" alt="" title=""/></a></div>
					<div class="slider-thumbs__caption caption">
						<div class="caption__content">
							<h2 class="caption__title"><a href="#"><strong>Positive</strong> energy</a></h2>
						</div>
					</div>
				</div> 
				<div class="swiper-slide slider-thumbs__slide slider-thumbs__slide--3">
					<div class="slider-thumbs__image"><a href="#"><img src="/assets/images/photos/image-3.jpg" alt="" title=""/></a></div>
					<div class="slider-thumbs__caption caption">
						<div class="caption__content">
							<h2 class="caption__title"><a href="#"><strong>Creative</strong> workflow</a></h2>
						</div>
					</div>
				</div> 
				<div class="swiper-slide slider-thumbs__slide slider-thumbs__slide--3">
					<div class="slider-thumbs__image"><a href="#"><img src="/assets/images/photos/image-5.jpg" alt="" title=""/></a></div>
					<div class="slider-thumbs__caption caption">
						<div class="caption__content">
							<h2 class="caption__title"><a href="#">UI/UX <strong>super</strong> designs</a></h2>
						</div>
					</div>
				</div> 
			</div>
			<div class="swiper-pagination slider-thumbs__pagination"></div>
		</div>