---
---
<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
</head>
<body class="theme-light" data-highlight="highlight-red" data-gradient="body-default">

	<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>
	<div id="page">
    	<div class="header header-fixed header-logo-center mb-4" style="transform: translateX(0px);">
            <a href="index.html" class="header-logo">Enabled<span class="color-highlight"> Mobile</span></a>
            <a href="#" data-menu="menu-sidebar-left-3" class="header-icon header-icon-1 menu-sidebar-left-3"><i class="fas fa-bars"></i></a>
            <a href="#" class="header-icon header-icon-3"><i class="fas fa-share-alt"></i></a>
            <a href="#" data-toggle-theme class="header-icon header-icon-4"><i class="fas fa-lightbulb"></i></a>
        </div>

		<!-- Footer Bar -->
		<div id="footer-bar" class="footer-bar-1">
	        <a href="#" class="active-nav"><i class="fa fa-home"></i><span>Home</span></a>
	        <a href="#"><i class="fa fa-star"></i><span>Features</span></a>
	        <a href="#"><i class="fa fa-heart"></i><span>Pages</span></a>
	        <a href="#"><i class="fa fa-search"></i><span>Search</span></a>
	        <a href="#"><i class="fa fa-cog"></i><span>Settings</span></a>
    	</div>

    	<div class="page-content header-clear-medium pb-0">
    		{{ content }}
    		{% include footer.html %}
    	</div>
    	{% include left-sidebar.html %}
	</div>
{% include actions.html %}
{% include menu-share.html %}
<script type="text/javascript" src="/assets/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/scripts/custom.js"></script>
</body>
</html>