---
layout: default
---

    		<div class="splide single-slider slider-no-arrows slider-no-dots" id="single-slider-home">
    			<div class="splide__track">
    				<!-- Header Slide -->
    				{% include header-slide.html %}
    			</div>
    		</div>

    		<!-- Menu Home -->
    		<div class="row text-center mb-3">
    			{% include menu-home.html %}
    		</div>

    		<!-- Card -->
    		<div class="card content-boxed bg-blue-dark mb-4 rounded-0" data-card-height="130" data-ll-status="loaded">
            	<div class="card-center ms-3">
                	<h1 class="color-white mb-0">Hadir di Youtube</h1>
                	<p class="color-white mt-n1 mb-0">Nikmati Koor dan Khotbah Minggu</p>
            	</div>
	            <div class="card-center me-3">
	                <a href="#" class="btn btn-m float-end rounded-xl shadow-xl text-uppercase font-800 bg-red-dark">Kunjungi</a>
	            </div>
        	</div>

        	<!-- Jadwal Ibadah -->
        	<div class="card card-style">
        		<div class="content mb-2">
        			<h3 class="text-center mb-3">Jadwal Ibadah</h3>
        			{% include ibadah-umum.html %}
				</div>
			</div>