---
layout: default
---

    		<div class="splide single-slider slider-no-arrows slider-no-dots" id="single-slider-home">
    			<div class="splide__track">
    				<!-- Header Slide -->
    				<div class="splide__list">
    					<div class="splide__slide">
    						<div class="card rounded-m shadow-l mx-3">
    							<div class="card-bottom text-center mb-0">
    								<h1 class="color-white font-700 mb-n1">StickyMobile</h1>
    								<p class="color-white opacity-80 mb-4">The Menu Everyone Requested.</p>
    							</div>
    							<div class="card-overlay bg-gradient"></div>
    							<img class="img-fluid" src="/assets/images/pictures/13.jpg">
    						</div>
    					</div>
    					<div class="splide__slide">
	                        <div class="card rounded-m shadow-l mx-3">
	                            <div class="card-bottom text-center mb-0">
	                                <h1 class="color-white font-700 mb-n1">Carefuly Built</h1>
	                                <p class="color-white opacity-80 mb-4">Flexibility, Speed, Ease of Use.</p>
	                            </div>
	                            <div class="card-overlay bg-gradient"></div>
	                            <img class="img-fluid" src="/assets/images/pictures/28.jpg">
	                        </div>
	                    </div>
	                    <div class="splide__slide">
	                        <div class="card rounded-m shadow-l mx-3">
	                            <div class="card-bottom text-center mb-0">
	                                <h1 class="color-white font-700 mb-n1">Elite Quality</h1>
	                                <p class="color-white opacity-80 mb-4">Mobile Website, App or PWA Ready.</p>
	                            </div>
	                            <div class="card-overlay bg-gradient"></div>
	                            <img class="img-fluid" src="/assets/images/pictures/29.jpg">
	                        </div>
                        </div>
                        <!-- End Header Slide -->

    				</div>
    			</div>
    		</div>

    		<!-- Menu Home -->
    		<div class="row text-center mb-3">
    			{% include menu-home.html %}
    		</div>

    		<!-- Card -->
    		<div class="card content-boxed bg-blue-dark mb-4 rounded-0" data-card-height="130" data-ll-status="loaded">
            	<div class="card-center ms-3">
                	<h1 class="color-white mb-0">Hadir di Youtube</h1>
                	<p class="color-white mt-n1 mb-0">Nikmati Koor dan Khotbah Minggu</p>
            	</div>
	            <div class="card-center me-3">
	                <a href="#" class="btn btn-m float-end rounded-xl shadow-xl text-uppercase font-800 bg-highlight">Kunjungi</a>
	            </div>
        	</div>

        	<!-- Jadwal Ibadah -->
        	<div class="card card-style">
        		<div class="content mb-2">
        			<h3 class="text-center mb-3">Jadwal Ibadah</h3>
        			{% include ibadah-umum.html %}
				</div>
			</div>