    <!-- SLIDER SIMPLE -->
    <div class="swiper-container slider-simple slider-thumb-init mb-20" data-paginationtype="bullets" data-spacebetweenitems="0" data-itemsperview="1">
      <div class="swiper-wrapper">
        <div class="swiper-slide slider-simple__slide" style="background-image:url(/assets/images/photos/image-1.jpg);">
          <div class="slider-simple__caption caption">
            <div class="caption__content">
              <h2 class="caption__title">The desire to <strong>create</strong> is deep</h2>
            </div>
          </div>
        </div> 
        <div class="swiper-slide slider-simple__slide" style="background-image:url(/assets/images/photos/image-2.jpg);">
          <div class="slider-simple__caption caption">
            <div class="caption__content">
              <h2 class="caption__title">Everything you can <strong>imagine</strong> is real</h2>
            </div>
          </div>
        </div>
        <div class="swiper-slide slider-simple__slide" style="background-image:url(/assets/images/photos/image-3.jpg);">
          <div class="slider-simple__caption caption">
            <div class="caption__content">
              <h2 class="caption__title"><strong>Creativity</strong> is intelligence having fun</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev slider-simple__prev"></div>
      <div class="swiper-button-next slider-simple__next"></div>
      <div class="swiper-pagination slider-simple__pagination"></div>
  
    </div>