---
layout: default
permalink: /team
---
        <div class="card card-style">
            <div class="content">
                <div class="row mb-0">
                    <div class="col-6 text-center">
                        <img src="images/pictures/faces/3s.png" class="img-fluid rounded-m mb-n1">
                        <div class="text-center mt-n3">
                            <a href="#" class="icon icon-xxs bg-facebook rounded-xl"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="icon icon-xxs bg-instagram rounded-xl"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="icon icon-xxs bg-twitter rounded-xl"><i class="fab fa-twitter"></i></a>
                        </div>
                        <h2 class="pt-2 mb-n1">John Doe</h2>
                        <p class="mb-n2 font-11 opacity-50">Lead Photographer</p>
                    </div>
                    <div class="col-6 text-center">
                        <img src="images/pictures/faces/4s.png" class="img-fluid rounded-m">
                        <div class="text-center mt-n3">
                            <a href="#" class="icon icon-xxs bg-whatsapp rounded-xl"><i class="fab fa-whatsapp"></i></a>
                            <a href="#" class="icon icon-xxs bg-linkedin rounded-xl"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#" class="icon icon-xxs bg-pinterest rounded-xl"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                        <h2 class="pt-2 mb-n1">Jack Son</h2>
                        <p class="mb-n2 font-11 opacity-50">Video Shooter</p>
                    </div>
                </div>
            </div>
        </div>